@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  line-height: normal;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn--primary {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}

.btn:hover,
.btn--primary:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

.header {
  width: 100%;
  position: absolute;
  top: 55px;
}
@media only screen and (max-width: 769px) {
  .header {
    top: 30px;
  }
}

.header__wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1490196078);
  border-radius: 36px;
}
@media only screen and (max-width: 769px) {
  .header__wrapper {
    background-color: transparent;
  }
}
.header__wrapper button {
  width: 160px;
}
@media only screen and (max-width: 769px) {
  .header__wrapper button {
    display: none;
  }
}

.logo {
  width: 168px;
  height: 36px;
  margin-left: 40px;
}
@media only screen and (max-width: 769px) {
  .logo {
    width: 100px;
    height: 22px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 769px) {
  .header__nav {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: row;
}

.nav__link {
  text-transform: uppercase;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  line-height: normal;
}

.header__bar {
  display: none;
}
@media only screen and (max-width: 769px) {
  .header__bar {
    display: inline-block;
    cursor: pointer;
  }
}

.hero {
  background-color: #030923;
}

.hero__wrapper {
  height: 1050px;
  color: #ffffff;
}
@media only screen and (max-width: 769px) {
  .hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    flex-direction: column;
    height: 932px;
    padding-bottom: 16px;
  }
}
.hero__wrapper .hero__item {
  padding-top: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
}
@media only screen and (max-width: 769px) {
  .hero__wrapper .hero__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    padding-top: 250px;
  }
}
.hero__wrapper .hero__content {
  margin-top: -100px;
  width: 590px;
}
@media only screen and (max-width: 769px) {
  .hero__wrapper .hero__content {
    width: 430px;
  }
}
.hero__wrapper .hero__subtitle {
  text-align: end;
  text-transform: uppercase;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  line-height: 100%;
}
@media only screen and (max-width: 769px) {
  .hero__wrapper .hero__subtitle {
    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 100%;
  }
}
.hero__wrapper .hero__title {
  text-transform: uppercase;
  font-family: "Inter";
  font-size: 150px;
  font-weight: 700;
  color: #ffffff;
  line-height: 100%;
}
@media only screen and (max-width: 769px) {
  .hero__wrapper .hero__title {
    text-align: center;
    font-family: "Inter";
    font-size: 87px;
    font-weight: 600;
    color: #ffffff;
    line-height: 100%;
  }
}
.hero__wrapper .hero__text,
.hero__wrapper .hero__text-mobile {
  text-transform: uppercase;
  opacity: 0.75;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 161%;
}
@media only screen and (max-width: 769px) {
  .hero__wrapper .hero__text {
    display: none;
  }
}
.hero__wrapper .hero__buttons {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  flex-direction: row;
}
.hero__wrapper .hero__buttons .btn {
  padding: 20px;
}
.hero__wrapper .hero__buttons .btn:first-child {
  width: 220px;
}
@media only screen and (max-width: 769px) {
  .hero__wrapper .hero__buttons {
    display: none;
  }
}
.hero__wrapper .hero__ils {
  margin-top: 40px;
  width: 780px;
  height: 780px;
  filter: drop-shadow(0 20px 60px rgba(0, 0, 0, 0.45)) drop-shadow(0 8px 60px rgba(80, 50, 150, 0.4)) drop-shadow(0 4px 60px rgba(100, 100, 255, 0.3));
}
@media only screen and (max-width: 769px) {
  .hero__wrapper .hero__ils {
    margin-top: 0;
    width: 343px;
    height: 343px;
  }
}
.hero__wrapper .hero__ilustrations {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  flex-direction: row;
}
.hero__wrapper .hero__ilustrations .hero__carusel {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  flex-direction: column;
}
@media only screen and (max-width: 769px) {
  .hero__wrapper .hero__ilustrations .hero__carusel {
    display: none;
  }
}
.hero__wrapper .hero__ilustrations .hero__carusel .carusel__item {
  width: 8px;
  height: 28px;
  background-color: #ffffff;
  opacity: 0.5;
}
.hero__wrapper .hero__ilustrations .hero__carusel .carusel__item:nth-child(1), .hero__wrapper .hero__ilustrations .hero__carusel .carusel__item:hover {
  opacity: 1;
}

.hero__media-content {
  display: none;
}
@media only screen and (max-width: 769px) {
  .hero__media-content {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 24px;
  }
  .hero__media-content .hero__text-mobile {
    display: block;
    text-transform: uppercase;
    opacity: 0.75;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 161%;
  }
  .hero__media-content .hero__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
  }
  .hero__media-content .hero__buttons .btn {
    padding: 20px;
  }
}

.hero__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex-direction: row;
}
@media only screen and (max-width: 769px) {
  .social-icons {
    display: none;
  }
}

.social-icon {
  width: 30px;
  height: 30px;
}

.swipe-up {
  margin-top: -60px;
  width: 64px;
  height: 72px;
  border-radius: 52px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.45) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
}
@media only screen and (max-width: 769px) {
  .swipe-up {
    width: 38px;
    height: 42px;
    margin-top: 0;
  }
}
.swipe-up img {
  transform: rotate(90deg);
  opacity: 0.4;
}
@media only screen and (max-width: 769px) {
  .swipe-up img {
    width: 20px;
  }
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: row;
}
@media only screen and (max-width: 769px) {
  .arrows {
    display: none;
  }
}

.arrow img {
  opacity: 0.4;
}

.left__arrow {
  transform: rotate(180deg);
}/*# sourceMappingURL=style.css.map */