.hero {
    background-color: $color-blue-dark;
}

.hero__wrapper {
    height: 1050px;
    color: $color-white;

    @media only screen and (max-width: $breakpoint-tablet) {
        @include d-flex(center, start, 20px, column);
        height: 100vh;
        padding-bottom: 16px;
    }

    .hero__item {
        padding-top: 140px;
        @include d-flex(center, space-between, 20px);

        @media only screen and (max-width: $breakpoint-tablet) {
            @include d-flex(center, space-between, 20px, column);
            padding-top: 250px;
        }
    }

    .hero__content {
        margin-top: -100px;
        width: 100%;

        @media only screen and (max-width: $breakpoint-tablet) {
            width: 430px;
        }
    }

    .hero__subtitle {
        text-align: end;
        text-transform: uppercase;
        @include font('Inter', 20px, 600, $color-white, 100%);

        @media only screen and (max-width: $breakpoint-tablet) {
            text-align: center;
            @include font('Inter', 18px, 600, $color-white, 100%);
        }
    }

    .hero__title {
        text-transform: uppercase;
        @include font('Inter', 150px, 700, $color-white, 100%);

        @media only screen and (max-width: $breakpoint-tablet) {
            text-align: center;
            @include font('Inter', 87px, 600, $color-white, 100%);
        }
    }

    .hero__text,
    .hero__text-mobile {
        text-transform: uppercase;
        opacity: 0.75;
        @include font('Inter', 20px, 500, $color-white, 161%);
    }

    .hero__text {
        @media only screen and (max-width: $breakpoint-tablet) {
            display: none;
        }
    }

    .hero__buttons {
        margin-top: 14px;
        @include d-flex(center, start, 20px);

        .btn {
            padding: 20px;

            &:first-child {
                width: 220px;
            }
        }

        @media only screen and (max-width: $breakpoint-tablet) {
            display: none;
        }
    }

    .hero__ils {
        margin-top: 40px;
        width: 780px;
        height: 780px;
        filter: drop-shadow(0 20px 60px rgba(0, 0, 0, 0.45)) drop-shadow(0 8px 60px rgba(80, 50, 150, 0.4)) drop-shadow(0 4px 60px rgba(100, 100, 255, 0.3));

        @media only screen and (max-width: $breakpoint-tablet) {
            margin-top: 0;
            width: 343px;
            height: 343px;
        }
    }

    .hero__ilustrations {
        @include d-flex(center, start, 30px);

        .hero__carusel {
            @include d-flex(center, start, 20px, column);

            @media only screen and (max-width: $breakpoint-tablet) {
                display: none;
            }

            .carusel__item {
                width: 8px;
                height: 28px;
                background-color: $color-white;
                opacity: 0.5;

                &:nth-child(1),
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.hero__media-content {
    display: none;

    @media only screen and (max-width: $breakpoint-tablet) {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 24px;

        .hero__text-mobile {
            display: block;
            text-transform: uppercase;
            opacity: 0.75;
            @include font('Inter', 14px, 500, $color-white, 161%);
        }

        .hero__buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 40px;

            .btn {
                padding: 20px;
            }
        }
    }
}